<div class="row">
  <div class="col-xs-12">
    <h2>Sign Up Confirmation</h2>
    <h3>Are you sure these values are corect?</h3>
    <div>
      <h4><%= @user.name %></h4>
      <h4><%= @user.email %></h4>
    </div>
    <div class="col-xs-1">
      <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
    </div>
    <div class="col-xs-1">
      <%= button_to "No", {controller: "users", action: "new"}, method: :get, class: 'btn btn-warning' %>
    </div>
  </div>
</div>
